body {
    font-family: 'Roboto', sans-serif;
    background-color: #E6E9EC;
    background-image: url(vote\ copy.webp);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    display: flex;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .login-branding {
    background-color: #CDEAC0;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .login-branding a {
    text-decoration: none;
    color: inherit;
  }
  
  .login-form {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form-content h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    width: 100%;
    padding: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 92%;
    padding: 15px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 15px;
    background-color: #fec86a;
    border: 0;
    border-radius: 4px;
    color: #4a340f;
    cursor: pointer;
    font-size: 14px;
  }
  
  button:hover {
    background-color: #e5b075;
  }
  
  .social-login {
    text-align: center;
    margin-top: 20px;
  }
  
  .google-signin {
    background-color: #4285F4;
    color: white;
  }
  
  .signup-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .signup-link a {
    color: #fec86a;
  }
  